@import url('https://fonts.cdnfonts.com/css/garamond');
@import url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');

body, html {
    background-color: #121213;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    border-bottom: 1.5px solid #3A3A3C;
    padding: 0.5rem;
    font-family: "GT Super Ds Trial";
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    font-size: 1.75rem;
    padding: 5px;
    margin: 0;
    letter-spacing: -1.5px;
    font-weight: bolder;
}

#navLeft {
  position: absolute;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navRight {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings {
  margin-left: 10px;
}

#playGuide {
  margin-left: 10px;
}

#settings {
    right: 15px;
}

main {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tableContainer table {
    margin-top: 20px;
    border-collapse: separate; /* Ensure borders are separated */
    border-spacing: 5px; /* Add spacing between table cells */
    font-weight: bold;
}

#tableContainer td {
    border: 2px solid #3A3A3C;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    transition: all 0.75s ease-in-out;
}

#keyboardContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
  text-align: center;
  width: 50vw;
}

#keyboardContainer table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px; /* Adds space between keys */
}

#keyboardContainer tr {
  display: flex;
  justify-content: center;
}

#keyboardContainer td {
  width: 35px;
  height: 50px;
  border-radius: 5px;
  background-color: #818384;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}

#guidePopup {
    display: none;
    color:white;
    z-index: 9999;
}

.correctLetter {
  background-color: #6a994e!important;
}

.correctLetterWrongPos {
  background-color: #ffa500!important;
}

.incorrectLetter {
  background-color: #3A3A3C!important;
  filter: brightness(0.6);
}

#endScreenContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

#endMenu {
  width: 40vw;
  min-height: 52vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 58, 60, 1);
  position: absolute;
  top: 10vh;
  color: white;
  text-align: center;
}

#endTitle {
  font-family: "GT Super Ds Trial";
  margin: 0;
  font-size: 40px;
  padding: 10px;
}

#endWord {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wordDefinition {
  color: #818384;
  font-family: "GT Super Ds Trial";
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

#playAgain {
  position: relative;
  margin-top: auto;
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color:#6a994e;
  color: white;
  font-family: "GT Super Ds Trial";
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#searchDef {
  color:#ffa500;
}

#searchDef:visited {
  color:#818384;
}

#contact {
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0;
  width: 100vw;
  height: 5vh;
  z-index: 999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact a {
  margin-left: 15px;
  color: #3A3A3C;
  z-index: 999;
}

#contact a:first-of-type {
  margin-left: 0;
}

#notAffiliated {
  width: 100vw;
  font-family: monospace;
  color: #3A3A3C;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 999;
  position: relative;
}

#Backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

#Backspace img{
  width: 25px;
}

#Enter {
  width: fit-content!important;
  padding-left: 5px;
  padding-right: 5px;
}

#settingsContainer {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#settingsMenu {
  width: 30vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  background-color: #3A3A3C;
  padding: 20px;
  z-index: 1000;

  h1, h2, p {
    text-align: center;
    color:white;
    font-family: 'Gt Super Ds Trial';
  }

  h1 {
    margin-top: 0;
  }

  p {
    font-weight: bold;
    color: #818384;
    font-family: monospace;
    letter-spacing: 1px;
  }

  select {
    background-color:#3A3A3C;
    color: white;
    height: 6vh;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
  }
}

#attributesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  a {
    color: #818384;
  }
}

#closeBtn {
  position: relative;
  align-self: self-end;
}

@media only screen and (max-width: 768px) {
  #keyboardContainer td {
    width: 30px;
  }

  #endMenu {
    width: 80vw;
  }

  #settingsMenu {
    width: 80vw;
  }

  #settingsMenu a {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 400px) {
  #keyboardContainer td {
    scale: 0.9;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  #keyboardContainer table {
    border-spacing: 1px;
  }
}